* {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
}




@media only screen and (min-width: 600px) {

.header {
    width: 100%;
    background-color: #fff;
    padding: 15px 150px;
    box-shadow: 0px 0px 5px 0px rgba(125, 125, 125, 0.75);
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header .container form {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.header .container form input {
    width: 450px;
    border: 1px solid #1a63ad;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 14px;
}

.header .container form button {
    border: 1px solid #1a63ad;
    border-radius: 20px;
    background-color: #1a63ad;
    color: #fff;
    padding: 5px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: .3s;
}

.header .container form button:hover {
    background-color: #fff;
    color: #1a63ad;
    border: 1px solid #1a63ad;
}

.header .container .tntngkm {
    display: flex;
    align-items: center;
}

.header .container .tntngkm button {
    background-color: #fff;
    color: #1a63ad;
    border: 2px solid #1a63ad;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 20px;
    cursor: pointer;
    transition: .3s;
}

.header .container .tntngkm button:hover {
    background-color: #1a63ad;
    color: #fff;
}

.header .container i {
    display: flex;
    align-items: center;
    color: #1a63ad;
    font-size: 28px;
    cursor: pointer;
} 


.wrapper {
    margin: 50px 150px;
}

.wrapper .container {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}

.wrapper .container .content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wrapper .container .content h5 {
    font-size: 32px;
}

.wrapper .container .content .img  {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.wrapper .container .content .img img {
    width: 100%;
    border-radius: 10px;
}

.wrapper .container .content p {
    font-size: 16px;
}


.wrapper .container .trkn{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: fit-content;
    margin-left: 60px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: #1a63ad;
    color: #fff;
}

.wrapper .container .trkn h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.wrapper .container .trkn .trkn-container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.wrapper .container .trkn .trkn-container .content {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.wrapper .container .trkn .trkn-container .content img {
    width: 80%;
    border-radius: 10px;
}

.wrapper .container .trkn .trkn-container .content .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.wrapper .container .trkn .trkn-container .content .text h5 {
    font-size: 16px;
    text-align: start;
}

.wrapper .container .trkn .trkn-container .content .text p {
    font-size: 12px;
}


.wrapper .lain{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 0 10px;
}

.wrapper .lain h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}

.wrapper .lain .lain-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 30px;
    justify-content: space-between;
}

.wrapper .lain .lain-container .content {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 240px;
}

.wrapper .lain .lain-container .content img {
    width: 100%;
    border-radius: 10px;
}

.wrapper .lain .lain-container .content .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.wrapper .lain .lain-container .content .text h5 {
    font-size: 18px;
    text-align: start;
}

.wrapper .lain .lain-container .content .text p {
    font-size: 12px;
}


.footer {
    display: flex;
    flex-direction: column;
    padding: 50px 150px 30px;
    background-color: #eee;
    row-gap: 30px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
}

.footer .container .comp {
    display: flex;
    flex-direction: column;
    width: 80%;
    row-gap: 30px;
}

.footer .container .comp img {
    width: 240px;
}

.footer .container .comp p {
    font-size: 14px;
    padding-left: 5px;
}

.footer .container .ktg, .lyn, .inf, .jar {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footer .container .ktg h5,
.footer .container .lyn h5,
.footer .container .inf h5,
.footer .container .jar h5 {
    font-size: 16px;
}

.footer .container .ktg ul,
.footer .container .lyn ul,
.footer .container .inf ul,
.footer .container .jar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    font-size: 12px;
    padding: 0;
}

.footer .cr {
    font-size: 14px;
    margin-left: 15px;
}

}




@media only screen and (max-width: 600px) {

.header {
    width: 100%;
    background-color: #fff;
    padding: 15px 30px;
    box-shadow: 0px 0px 5px 0px rgba(125, 125, 125, 0.75);
}

.header .container {
    display: flex;
    justify-content: space-between;
}


.header .container form {
    display: none;
}

.header .container .tntngkm {
    display: none;
}

.header .container i {
    display: flex;
    align-items: center;
    color: #1a63ad;
    font-size: 28px;
}


.wrapper {
    margin: 30px;
}

.wrapper .container {
    width: 100%;
    display: flex;
}

.wrapper .container .content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wrapper .container .content h5 {
    font-size: 28px;
}

.wrapper .container .content .img  {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.wrapper .container .content .img img {
    width: 100%;
    border-radius: 10px;
}

.wrapper .container .content p {
    font-size: 14px;
}

.wrapper .container .trkn {
    display: none;
}

.wrapper .lain{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 0 10px;
}

.wrapper .lain h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.wrapper .lain .lain-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 30px;
    justify-content: space-between;
}

.wrapper .lain .lain-container .content {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 240px;
}

.wrapper .lain .lain-container .content img {
    width: 100%;
    border-radius: 10px;
}

.wrapper .lain .lain-container .content .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.wrapper .lain .lain-container .content .text h5 {
    font-size: 16px;
    text-align: start;
}

.wrapper .lain .lain-container .content .text p {
    font-size: 10px;
}



.footer {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #eee;
    row-gap: 30px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.footer .container .comp {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 20px;
}

.footer .container .comp img {
    width: 180px;
}

.footer .container .comp p {
    font-size: 14px;
    padding-left: 5px;
}

.footer .container .ktg, .lyn, .inf, .jar {
    display: none;
}

.footer .cr {
    font-size: 12px;
    text-align: center;
}

}